#titulo1{
    background-color: rgb(0, 0, 0);
	font-family:times new roman;
    font-size:40px;
    font-weight:bold;
	color:rgb(242, 242, 242);
    text-align:center;

}

h2{
    text-align: center;
}

p{
    text-align: center;
}


div{
    text-align: center;
}